<div class="container text-center mt-5">
  <h1>Welcome to Expense Tracker!</h1>
  <p class="lead mt-4">Manage your expenses efficiently and effortlessly.</p>

  <div class="row mt-5">
    <div class="col-md-4">
      <h3>Add an expense</h3>
      <p>Detail about this feature.</p>
    </div>
    <div class="col-md-4">
      <h3>Add a budget</h3>
      <p>Detail about this feature.</p>
    </div>
    <div class="col-md-4">
      <h3>Add your income</h3>
      <p>Detail about this feature.</p>
    </div>
  </div>
</div>
