<div class="container mt-3">
  <h1>Category Details</h1>
  <p><strong>Name:</strong> <%= @category.name %></p>
  <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary' %>
  <%= link_to 'Back to List', categories_path, class: 'btn btn-secondary' %>
</div>
